<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodie.foodie10">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Foodie 1.0"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUPActivity" />
        <activity android:name=".khilgaon" />
        <activity android:name=".banani" />
        <activity android:name=".bailyroad" />
        <activity android:name=".alfrescopricelist" />
        <activity android:name=".MainActivity" />
        <activity android:name=".first" />
        <activity android:name=".gulshan" />
        <activity android:name=".dhanmondi" />
        <activity android:name=".Threehundredfeet" />
        <activity android:name=".mirpur" />
        <activity android:name=".caeftheatre" />
        <activity android:name=".show"></activity>
    </application>

</manifest>